
:root {
  --bg-color:#fafafc;
  --text-color: #000000;
}

.dark {
  --bg-color: #000112;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;


}
/* navbar.css */
.logo-light {
  display: block;
}
.logo-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logo-light {
    display: none;
  }
  .logo-dark {
    display: block;
  }
}
